<main>
  <h1>Contacto</h1>

  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="example-form-field">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)"
        >El nombre es necesario</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error
        *ngIf="email?.hasError('required') && (email?.dirty || email?.touched)"
        >El email es necesario</mat-error
      >
      <mat-error
        *ngIf="email?.hasError('email') && (email?.dirty || email?.touched)"
        >Debe ser formato de email</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-form-field">
      <mat-label>Teléfono</mat-label>
      <input matInput type="number" formControlName="phone" />
      <mat-error
        *ngIf="phone?.hasError('required') && (phone?.dirty || phone?.touched)"
        >El teléfono es necesario</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-form-field">
      <mat-label>Mensaje</mat-label>
      <input matInput type="text" formControlName="message" />
      <mat-error
        *ngIf="
          message?.hasError('required') && (message?.dirty || message?.touched)
        "
        >El mensaje es necesario</mat-error
      >
    </mat-form-field>

    <button color="primary" mat-raised-button (click)="onSend($event)">
      Enviar
    </button>
  </form>
</main>
